apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: sso

resources:
  - keycloak.yaml
  - clients.yaml
  - keycloak-realm.yaml
  - link.yaml
  - users.yaml
  - groups.yaml # bugs the groups need to be created manually
  #- oauth-secret-policy.yaml
  - rbac.yaml

patches:

  - patch: |-
      - op: replace
        path: /spec/href
        value: "https://keycloak-sso.${SUB_DOMAIN}"
    target:
      kind: ConsoleLink
      name: rhsso
      namespace: sso  